
backend/MyNotepad/appsettings.json
/backend/MyNotepad/.vs
/backend/MyNotepad/bin
/backend/MyNotepad/obj
backend/MyNotepad/Properties/launchSettings.json
backend/MyNotepad/appsettings.Development.json
/backend/.vs
*.json
/backend/bin
/backend/obj
